name: c_koans ci

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - run: sudo add-apt-repository -y ppa:snaipewastaken/ppa

      - run: sudo apt-get update -qqq

      - run: sudo apt-get install -yqq criterion-dev

      - run: make clean all
